body {
    background-color: black;
}
#container{
    width: 1000px;
    /* margin: 20px 100px 90px 60px; */
    margin:20px;
    border: 5px solid;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    color: white
}

.row {
    display: flex;
    flex: 0 2 100%;
    flex-wrap: wrap; 

    }

.row-sections {
    /* display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: flex-end;
    gap: 10rem; */
    margin-top: 10px;
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-end;
    gap: 10rem;
}

a {
    color: whitesmoke;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

.column-left { 
    flex-wrap: wrap;
    justify-content: start;
    
}

.column-project {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
}

.column-project-half {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    gap: 1rem;
}

.p {
    text-align: center;
}

.li {
    align-items: baseline;
}

/* #contact-me {
    display: flex;
    justify-content: center; */

.column-contact {
    margin-top: 10px;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    gap: 4rem;
}

footer {
    font-family: "Brush Script MT", cursive;
    color: #57C2C2;
}